pre
  white-space pre-wrap !important

:root
  --content-bg-color #333333f2 !important

@media (prefers-color-scheme: dark)
  img
    opacity 1 !important

.post-copyright
  ul
    background #000000b3 !important

.followme
  background #000000b3 !important

.site-author-image
  border none !important